 Series are a single column of data. They combine the best of list and dictionaries.
They maintain the order of insertion in dictionaries.

In [1]:
bool_vals = [True, False, True, True, False]
#convert above list to a Series using pandas.

In [2]:
import pandas as pd
pd.Series(bool_vals)

0     True
1    False
2     True
3     True
4    False
dtype: bool

Series are basically the dictionaries with order saved. So the indexed keys we see in above result are default keys given by Pandas. Now lets convert a dictionary into a series.

In [3]:
kids_age = {"Tom": "10",
           "Harry": "11",
           "Pablo": "12"}
pd.Series(kids_age)

Tom      10
Harry    11
Pablo    12
dtype: object

there are many methods in pd.Series that can be used to calculate, sum, mean, std, etc.

# Attributes are a piece of info about the object. These are not commands or methods but just information about the object.

Parameters = what a method/ function/ class intantiation expects
Arguments = actual value being passed to the method

1. pandas ships with many read_ fuctions to read different types of files
2. Check parameters about the read_csv() method using shift+tab
3. first param is file path, here python will look for file in current directory since no path is mentioned.
4. read_csv() will read import the dataset as a DataFrame, a 2-D table.
5. Series is a 1-D data. Which means it only requires one input to find the value in that dataset. While in Dataframes, it requires 2 parameters to find the value in the data set - row and column both. Similarly in 3-D data, it requires 3 params and so on.

In [5]:
pd.read_csv("pokemon.csv")

              Name              Type
0        Bulbasaur     Grass, Poison
1          Ivysaur     Grass, Poison
2         Venusaur     Grass, Poison
3       Charmander              Fire
4       Charmeleon              Fire
...            ...               ...
1005  Iron Valiant   Fairy, Fighting
1006      Koraidon  Fighting, Dragon
1007      Miraidon  Electric, Dragon
1008  Walking Wake     Water, Dragon
1009   Iron Leaves    Grass, Psychic

[1010 rows x 2 columns]

1. usecol() - accepts a column to import
2. squeeze() - converts a DF into series

In [7]:
pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object