 Series are a single column of data. They combine the best of list and dictionaries.
They maintain the order of insertion in dictionaries.

In [1]:
bool_vals = [True, False, True, True, False]
#convert above list to a Series using pandas.

In [2]:
import pandas as pd
pd.Series(bool_vals)

0     True
1    False
2     True
3     True
4    False
dtype: bool

Series are basically the dictionaries with order saved. So the indexed keys we see in above result are default keys given by Pandas. Now lets convert a dictionary into a series.

In [3]:
kids_age = {"Tom": "10",
           "Harry": "11",
           "Pablo": "12"}
pd.Series(kids_age)

Tom      10
Harry    11
Pablo    12
dtype: object

there are many methods in pd.Series that can be used to calculate, sum, mean, std, etc.

# Attributes are a piece of info about the object. These are not commands or methods but just information about the object.

Parameters = what a method/ function/ class intantiation expects
Arguments = actual value being passed to the method

1. pandas ships with many read_ fuctions to read different types of files
2. Check parameters about the read_csv() method using shift+tab
3. first param is file path, here python will look for file in current directory since no path is mentioned.
4. read_csv() will read import the dataset as a DataFrame, a 2-D table.
5. Series is a 1-D data. Which means it only requires one input to find the value in that dataset. While in Dataframes, it requires 2 parameters to find the value in the data set - row and column both. Similarly in 3-D data, it requires 3 params and so on.

In [4]:
pd.read_csv("pokemon.csv")

              Name              Type
0        Bulbasaur     Grass, Poison
1          Ivysaur     Grass, Poison
2         Venusaur     Grass, Poison
3       Charmander              Fire
4       Charmeleon              Fire
...            ...               ...
1005  Iron Valiant   Fairy, Fighting
1006      Koraidon  Fighting, Dragon
1007      Miraidon  Electric, Dragon
1008  Walking Wake     Water, Dragon
1009   Iron Leaves    Grass, Psychic

[1010 rows x 2 columns]

1. usecol() - accepts a column to import
2. squeeze() - converts a DF into series

In [5]:
pokemon_sr = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")

There are many methods on series, like
1. finding a value in series
2. by default it finds by index, but can do find in values
3. there are maths methods on series like - mean, count, std, min etc.
4. describe() gives all of these together
5. some other methods are sort, head and tail etc.

In [6]:
pokemon_sr.describe()

count          1010
unique         1010
top       Bulbasaur
freq              1
Name: Name, dtype: object

In [7]:
google_df = pd.read_csv("google_stock_price.csv", usecols=["Price"])
print(google_df)
type(google_df)

           Price
0       2.490664
1       2.515820
2       2.758411
3       2.770615
4       2.614201
...          ...
4788  132.080002
4789  132.998001
4790  135.570007
4791  137.050003
4792  138.429993

[4793 rows x 1 columns]

pandas.core.frame.DataFrame

In [8]:

google_series = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
print(google_series)
type(google_series)

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

pandas.core.series.Series

# Broadcasting
1. Adds, subtracts, multiplies a value to each record of the series
2. Returns a new list/series
3. Does not change the underlying datastructure

In [9]:
google_series + 10

0        12.490664
1        12.515820
2        12.758411
3        12.770615
4        12.614201
           ...
4788    142.080002
4789    142.998001
4790    145.570007
4791    147.050003
4792    148.429993
Name: Price, Length: 4793, dtype: float64

google_series.mul(1)

# Value_counts method
counts number of occurrences

In [10]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")

In [11]:
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [12]:
pokemon.value_counts()

Type
Water               74
Normal              74
Grass               46
Psychic             39
Fire                36
                    ..
Fighting, Ice        1
Fire, Dragon         1
Normal, Dragon       1
Psychic, Steel       1
Fighting, Dragon     1
Name: count, Length: 200, dtype: int64

# Pandas Data Frames

In [13]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nba.head

<bound method NDFrame.head of                   Name                Team Position Height  Weight  \
0           Saddiq Bey       Atlanta Hawks        F    6-7   215.0
1    Bogdan Bogdanovic       Atlanta Hawks        G    6-5   225.0
2          Kobe Bufkin       Atlanta Hawks        G    6-5   195.0
3         Clint Capela       Atlanta Hawks        C   6-10   256.0
4       Bruno Fernando       Atlanta Hawks      F-C   6-10   240.0
..                 ...                 ...      ...    ...     ...
587       Ryan Rollins  Washington Wizards        G    6-3   180.0
588      Landry Shamet  Washington Wizards        G    6-4   190.0
589   Tristan Vukcevic  Washington Wizards        F   6-10   220.0
590       Delon Wright  Washington Wizards        G    6-5   185.0
591                NaN                 NaN      NaN    NaN     NaN

           College      Salary
0        Villanova   4556983.0
1       Fenerbahce  18700000.0
2         Michigan   4094244.0
3      Elan Chalon  20616000.0
4         Maryland   2581522.0
..             ...         ...
587         Toledo   1719864.0
588  Wichita State  10250000.0
589    Real Madrid         NaN
590           Utah   8195122.0
591            NaN         NaN

[592 rows x 7 columns]>

In [15]:
nba.head

<bound method NDFrame.head of                   Name                Team Position Height  Weight  \
0           Saddiq Bey       Atlanta Hawks        F    6-7   215.0
1    Bogdan Bogdanovic       Atlanta Hawks        G    6-5   225.0
2          Kobe Bufkin       Atlanta Hawks        G    6-5   195.0
3         Clint Capela       Atlanta Hawks        C   6-10   256.0
4       Bruno Fernando       Atlanta Hawks      F-C   6-10   240.0
..                 ...                 ...      ...    ...     ...
587       Ryan Rollins  Washington Wizards        G    6-3   180.0
588      Landry Shamet  Washington Wizards        G    6-4   190.0
589   Tristan Vukcevic  Washington Wizards        F   6-10   220.0
590       Delon Wright  Washington Wizards        G    6-5   185.0
591                NaN                 NaN      NaN    NaN     NaN

           College      Salary
0        Villanova   4556983.0
1       Fenerbahce  18700000.0
2         Michigan   4094244.0
3      Elan Chalon  20616000.0
4         Maryland   2581522.0
..             ...         ...
587         Toledo   1719864.0
588  Wichita State  10250000.0
589    Real Madrid         NaN
590           Utah   8195122.0
591            NaN         NaN

[592 rows x 7 columns]>

In [16]:
nba.head(4)

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0

In [17]:
nba.tail

<bound method NDFrame.tail of                   Name                Team Position Height  Weight  \
0           Saddiq Bey       Atlanta Hawks        F    6-7   215.0
1    Bogdan Bogdanovic       Atlanta Hawks        G    6-5   225.0
2          Kobe Bufkin       Atlanta Hawks        G    6-5   195.0
3         Clint Capela       Atlanta Hawks        C   6-10   256.0
4       Bruno Fernando       Atlanta Hawks      F-C   6-10   240.0
..                 ...                 ...      ...    ...     ...
587       Ryan Rollins  Washington Wizards        G    6-3   180.0
588      Landry Shamet  Washington Wizards        G    6-4   190.0
589   Tristan Vukcevic  Washington Wizards        F   6-10   220.0
590       Delon Wright  Washington Wizards        G    6-5   185.0
591                NaN                 NaN      NaN    NaN     NaN

           College      Salary
0        Villanova   4556983.0
1       Fenerbahce  18700000.0
2         Michigan   4094244.0
3      Elan Chalon  20616000.0
4         Maryland   2581522.0
..             ...         ...
587         Toledo   1719864.0
588  Wichita State  10250000.0
589    Real Madrid         NaN
590           Utah   8195122.0
591            NaN         NaN

[592 rows x 7 columns]>

In [18]:

nba.tail(n=10)

,Name,Team,Position,Height,Weight,College,Salary
582,Kyle Kuzma,Washington Wizards,F,6-9,221.0,Utah,25568182.0
583,Mike Muscala,Washington Wizards,F-C,6-11,240.0,Bucknell,3500000.0
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
nba.shape

(592, 7)

In [20]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [21]:
kids_age.hasnans

AttributeError: 'dict' object has no attribute 'hasnans'

In [ ]:
google_series.hasnans

In [ ]:
nba.columns

In [ ]:
google_series.info()

In [ ]:
nba.info()

# Adding a new column by performing an action on each record of that column

In [23]:
nba["bonus"] = nba["Salary"].mul(2)

In [24]:
nba

,Name,Team,Position,Height,Weight,College,Salary,bonus
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Value count - #times each unique value occurs

In [25]:
nba["Team"].value_counts()

Team
Dallas Mavericks          23
Miami Heat                22
Denver Nuggets            22
Milwaukee Bucks           22
Memphis Grizzlies         22
Indiana Pacers            21
Utah Jazz                 21
Toronto Raptors           21
Philadelphia 76ers        21
Oklahoma City Thunder     21
New York Knicks           21
Washington Wizards        21
Phoenix Suns              20
Houston Rockets           20
Charlotte Hornets         20
San Antonio Spurs         20
Los Angeles Clippers      19
Minnesota Timberwolves    19
Detroit Pistons           19
Cleveland Cavaliers       19
Los Angeles Lakers        19
Chicago Bulls             19
Sacramento Kings          18
Orlando Magic             18
Boston Celtics            18
Atlanta Hawks             18
Portland Trail Blazers    17
Golden State Warriors     17
Brooklyn Nets             17
New Orleans Pelicans      16
Name: count, dtype: int64

In [26]:
nba["Position"].value_counts()

Position
G      229
F      187
C       47
G-F     46
F-C     37
C-F     23
F-G     15
Name: count, dtype: int64

# use normalize method to find the percentage

In [28]:
nba["Position"].value_counts(normalize=True) * 100

Position
G      39.212329
F      32.020548
C       8.047945
G-F     7.876712
F-C     6.335616
C-F     3.938356
F-G     2.568493
Name: proportion, dtype: float64

In [29]:
39.2 + 32 + 8 + 7 + 6 + 5

97.2

In [30]:
nba

,Name,Team,Position,Height,Weight,College,Salary,bonus
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
nba.dropna()

,Name,Team,Position,Height,Weight,College,Salary,bonus
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0,1119564.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0,55910714.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0

In [32]:
nba

,Name,Team,Position,Height,Weight,College,Salary,bonus
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# dropna is very useful to remove blank rows from the data set for sanitizing data. But always use with "all" else it will remove all record with any NaN

In [35]:
nba.dropna(how="all")

,Name,Team,Position,Height,Weight,College,Salary,bonus
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0,55910714.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0

# Remove NaN from any one or two columns

In [38]:
nba.dropna(subset=["Salary", "College"])

,Name,Team,Position,Height,Weight,College,Salary,bonus
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0,1119564.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0,55910714.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0